.wrapper {
  width: 100%;
  background-color: var(--footer-bg-color);
  display: block;
}
.footer_wrap {
  font-size: 10px;
  line-height: 12px;
  font-family: var(--main-font);
  color: var(--footer-text-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  letter-spacing: 0.02em;
  padding: 10px 20px;
}
.footer_descr {
  margin: 0 7px 0 0;
}
.footer_icon {
  width: 14px;
  height: 13px;
  /* margin-left: 10px;
  margin-right: 10px; */
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
}
